.select2-container .select2-choice .select2-arrow b {
  background-image:url('/webjars/humpty-css/1.0.0/select2x2.png') !important;
  background-repeat:no-repeat !important;
  background-size:60px 40px !important;
}
